# Meant to be run as a user unit
# It requires DISPLAY and XAUTHORITY, which is handled by systemd for user units
# Put in ~/.config/systemd/user
# Run as systemctl --user start/enable lsd
[Unit]
Description=Lan Shutdown Daemon to remotely shut down systems
Wants=network.target
DefaultDependencies=no

[Service]
# replace with your desired path after copying it there
ExecStart=~/.local/bin/lsd

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
