[Unit]
Description=Lan Shutdown Daemon to remotely shut down systems
Requires=network.target
DefaultDependencies=no

[Service]
Environment="DISPLAY=:0"
# is there no other way? :/
Environment="XAUTHORITY=/home/rmn/.Xauthority"
#StandardError=file:/var/log/mini.log
#StandardOutput=file:/var/log/mini.log
ExecStart=/home/rmn/Documents/mini/lsd/d/server
#Type=forking

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
